<div class="card card-body p4 rounded-0 bg-dark text-white">

  <form action="/tasks/add" method="post">

    <h3>Add A Task</h3>
    <div>
      <label for="title">Write a title:</label>
      <input
        type="text"
        name="title"
        placeholder="Title"
        id="title"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>

    <div>
      <label for="description">Description:</label>
      <textarea
        name="description"
        placeholder="Description"
        id="description"
        class="form-control rounded-0 bg-dark text-white"
      ></textarea>
    </div>

    <button class="btn btn-primary btn-sm mt-2">Add</button>

  </form>

</div>